@{
    ViewBag.Title = "Teams";
}
<!--==============================
Team Area
==============================-->

@*<div class="container space-top">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8">
            <div class="title-area text-center">
                <h2 class="sec-title">Teams</h2>
            </div>
        </div>
    </div>
</div>*@


<!--==============================
Team Area
==============================-->
<section class="space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="Icon">Expert doctors</span>
            <h2 class="sec-title">Meet our professional Doctors</h2>
        </div>
        <div class="row gy-40 justify-content-center">
            <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-team team-card">
                    <div class="box-img">
                        <img src="~/Content/assets/img/team/team_1_1.jpg" alt="Team">
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <h3 class="box-title"><a href="@Url.Action("TeamMemberDetails","Home", new { area = ""})">Dr. Malcolm Function</a></h3>
                    <span class="team-desig">Neurologist</span>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-team team-card">
                    <div class="box-img">
                        <img src="~/Content/assets/img/team/team_1_2.jpg" alt="Team">
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <h3 class="box-title"><a href="@Url.Action("TeamMemberDetails","Home", new { area = ""})">Dr. Douglas Lyphe</a></h3>
                    <span class="team-desig">Physiotherapist</span>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-team team-card">
                    <div class="box-img">
                        <img src="~/Content/assets/img/team/team_1_3.jpg" alt="Team">
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <h3 class="box-title"><a href="@Url.Action("TeamMemberDetails","Home", new { area = ""})">Dr. Wisteria Ravenc</a></h3>
                    <span class="team-desig">Cardiologist</span>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-team team-card">
                    <div class="box-img">
                        <img src="~/Content/assets/img/team/team_1_4.jpg" alt="Team">
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <h3 class="box-title"><a href="@Url.Action("TeamMemberDetails","Home", new { area = ""})">Dr. Benjamin Evalent</a></h3>
                    <span class="team-desig">Dentist</span>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-team team-card">
                    <div class="box-img">
                        <img src="~/Content/assets/img/team/team_1_5.jpg" alt="Team">
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <h3 class="box-title"><a href="@Url.Action("TeamMemberDetails","Home", new { area = ""})">Dr. Rishita Rosei</a></h3>
                    <span class="team-desig">Neurologist</span>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-team team-card">
                    <div class="box-img">
                        <img src="~/Content/assets/img/team/team_1_6.jpg" alt="Team">
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <h3 class="box-title"><a href="@Url.Action("TeamMemberDetails","Home", new { area = ""})">Dr. Emanuyel Mac</a></h3>
                    <span class="team-desig">Physiotherapist</span>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-team team-card">
                    <div class="box-img">
                        <img src="~/Content/assets/img/team/team_1_7.jpg" alt="Team">
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <h3 class="box-title"><a href="@Url.Action("TeamMemberDetails","Home", new { area = ""})">Dr. Wilium Lily</a></h3>
                    <span class="team-desig">Cardiologist</span>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-team team-card">
                    <div class="box-img">
                        <img src="~/Content/assets/img/team/team_1_8.jpg" alt="Team">
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <h3 class="box-title"><a href="@Url.Action("TeamMemberDetails","Home", new { area = ""})">Dr. Esabel Macran</a></h3>
                    <span class="team-desig">Dentist</span>
                </div>
            </div>

        </div>
    </div>
</section>

